<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recipeapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeApp"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.ResultDishActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.ListMaterialSelectedActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.FloatActivity" />
        <activity
            android:name=".ui.activities.CommentActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.FloatActivity" />
        <activity
            android:name=".ui.activities.UserProfileShareActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.DishDetailsShareActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.AddShareDishActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.EditDishActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.DishDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.AddDishActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.DishMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RecipeApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>